@model List<BookModel>


@{
    ViewData["Title"] = "Libros";
}
<h2>Libros</h2>
<a class="btn btn-light" asp-action="BookAdd" asp-controller="Books">Agregar Libro</a>

<hr />
<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                @if (book.ImagePath != null)
                {
                     <img src="@book.ImagePath" class="card-img-top" style="width: 100%"; />
                }
                else
                {
                    <img src="/path/to/default/image.jpg" class="card-img-top" alt="Default Image">
                }
                <div class="card-body">
                    <h5 class="card-title">@book.Titulo</h5>
                    <p class="card-text">Autor: @book.Autor</p>
                    <p class="card-text">@book.Descripcion</p>
                </div>

                <form asp-action="BookDeleted" asp-controller="Books" method="post" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este libro?');">
                        <input type="hidden" name="id" value="@book.Id" />
                        <button type="submit" class="btn btn-outline-warning">Eliminar</button>
                </form>
            </div>
        </div>
    }
</div> 




